body
{
background-color: #272625;
font-family: Arial, Helvetica, sans-serif;
}

input{
    border-radius: 4px;
}

#contenido
{
width: 960px;
margin: 0 auto;
text-align: center;
}

h1
{
color: #e44e2d;
}

h2
{
color: rgb(23, 155, 96);
}

h3
{

text-align: left;

}

#user{
margin-left: 58px;

}

#forget{
    cursor: pointer;
    color: rgba(255, 255, 0, 0.722);
}

#pass{
    margin-left: 10px;
}

nav ul li
{
display: inline-block;
margin-right: 20px;
color: rgba(0, 0, 0, 0.76);
cursor: pointer;
padding-bottom: 20px;

}

#textoPr{
    width: 600px;
    height: 350px;
    background-color: black;
    color: #fff6f1;
    margin: auto;
    text-align: left;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 25px #4e4949;
}

a
{
color: #e44e2d;
font-weight: bold;

}